
.destinos-page-container {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .destinos-page-container h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
  
  .page-subtitle {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.1rem;
    color: var(--secondary-color);
  }
  
  
  .destinos-grid {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
  }
  
 
  .destino-card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .destino-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  .card-image {
    width: 100%;
    height: 250px;
    object-fit: cover; 
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    color: var(--primary-color);
    margin-bottom: 5px;
    font-size: 1.5rem;
  }
  
  .card-pais {
    color: var(--secondary-color);
    font-style: italic;
    margin-bottom: 15px;
  }
  
  .card-descricao {
    font-size: 0.95rem;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    border-top: 1px solid #ffffff;
  }
  
  .card-preco {
    font-weight: bold;
    font-size: 1.2rem;
    color: #33994b; 
  }
  
  .card-cta {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .card-cta:hover {
    background-color: #007bff;
  }