/* Estilo do cabeçalho */
.header {
  background-color: #0751e6;
  color: rgb(66, 10, 10);
  padding: 70px;
  text-align: center;
}

.header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 350px;
  padding: 0;
  margin: 10px 0 0 0;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header nav ul li a:hover {
  text-decoration: underline;
}

/* Estilo das seções */
main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

section {
  margin-bottom: 40px;
}
