
:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

 
  --primary-color: #000000;
  --secondary-color: #000000;
  --bg-color: #ffffff;
  --text-color: #000000;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

#root {
 
  min-height: 100vh;
}